header{
    background-color: #042439;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 450px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo img{
    height: 50px;
}
.logo h3{
    color: #fff;
    font-family: 'Gill Sans MT', sans-serif;
}
.link-nav ul{
    list-style: none;
    color: #fff;
    display: flex;
    gap: 2rem;
}

button{
    background-color: #4979D1;
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 5px;
    color: #fff;
}