/* === Subjects sectuon === */

.courses{
    margin-top: 2rem;
}
.courses p{
    color: #042439;
    font-size: larger;
    font-weight: 700;
    text-align: center;
}
.subjects{
    display: flex;
    gap: 2.5rem;
    margin: 4rem;
}

.subject{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    background-color: #042439;
    width: 150px;
    height: 130px;
    border-radius: 5px;
}

.subject p{
    color: #fff;
    font-size: medium;
}

.subject img{
    width: 70px;
}


