@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  margin: 0;
  padding: 0;
}
body{
  background:linear-gradient(90deg, #053a4f 8.26%, rgba(20, 120, 118, 0.58) 99.96%);
  overflow: scroll;
}
body::-webkit-scrollbar{
  display: none;
}
