button:hover{
    cursor: pointer;
}

/* === top section === */
.top{
    background: linear-gradient(90.05deg, #008280 1.26%, rgba(31, 163, 161, 0.58) 99.96%);
    height: 60vh;
    display: flex;
    gap: 10px;
    margin-top: 10vh;
}
.top .left{
    padding: 25px;
    color: #fff;
    width: 50%;
    padding-left: 4rem;
}
.top .left h1{
    font-size: 50px;
    text-align: left;
}
.top .right{
    padding: 25px;
}

/* === search btn === */
.search{
    display: flex;
    padding-top: 4rem;
    width: 450px;
    position: relative;
}
.search img{
    position: absolute;
    margin: 5px;
}
.search input{
    width: 450px;
    height: 5px;
    border: none;
    border-radius: 3px;
    padding-left: 50px;
    background-color: #fff;
    color:#042439;
    font-weight: 600;
}

.search button{
    position: absolute;
    right: 0;
    border-radius: 2px;
    margin: 5px 5px;
    height: 35px;
}

/* === features section === */
.features {
    background-color: #042439;
    height: 45vh;
}
.features p{
    color: #9433E0;
    text-align: center;
    padding: 10px;
    font-family: Georgia, serif;
    position: relative;
    line-height: 2; 
}

.fets{
    height: 75%;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: end;
}
.fet{
    background-color: #0E3A59;
    height: 200px;
    width: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fet img{
    width: 70px;
}
.fet h4{
    color: #9433E0;
}
.fet p{
    color: #ffffff9f;
    font-size: 10px;
}

/* === About === */

.about{
    background-color: #042439;
    height: 40vh;
}

.about p{
    color: #fff;
    padding: 1rem;
}